/* theme: https://kuler.adobe.com/sevdevhu-theme-based-on-AlMo3000-color-theme-3699265/ */

@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Orbitron:500,700|Audiowide);
@import url(//fonts.googleapis.com/css?family=Josefin+Sans:400,600);

nav, article, header
{
	display: block;
}

*
{
	margin: 0px;
	padding: 0px;
}

*:link
{
	text-decoration: none;
	border: 0px;
}

body
{
	background: #fff9d6;
}

#background_header
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 250px;
	background-color: #F0EEEC;
	z-index: -2;
}

#background_menu
{
	position: absolute;
	top: 250px;
	left: 0px;
	width: 100%;
	height: 35px;
	z-index: -1;
}

#background_menu_line
{
	position: absolute;
	top: 150px;
	width: 100%;
	height: 5px;
	background: #cccccc;
}

#align
{
	width: 960px;
	margin: auto;
	position: relative;
	padding: 150px 20px 20px 20px;
}

header {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 120px;
}

#logo {
	height: 60px;
	position: absolute;
	left: 20px;
	top: 43px;
}

header .feeds {
	position: absolute;
	right: 45px;
	top: 0px;
}

header .feeds a {
	display: inline-block;
	vertical-align: bottom;
	font-size: 10px;
	color: #718db0;
	opacity: 0.2;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

header .feeds:hover a {
	opacity: 0.6;
}

header .feeds a:hover {
	opacity: 1;
}

header .feeds i {
	font-size: 14px;
}

#menu
{
	position: absolute;
	left: 0px; /* js manipulated */
	top: 120px;
	height: 35px;
	width: 100%;
	z-index: 2;
}

#menu a
{
	display: inline-block;
	line-height: 30px;
	height: 30px;
	width: 220px;
	color: #50647d;
	font-family: Orbitron, Arial;
	font-size: 17px;
	padding: 0px 20px;
	margin: 0;
	z-index: 1;
	position: relative;
	text-align: center;
	box-sizing: border-box;

	-webkit-transition: color 0.3s linear;
	-moz-transition: color 0.3s linear;
	-ms-transition: color 0.3s linear;
	-o-transition: color 0.3s linear;
	transition: color 0.3s linear;
}

#menu_slider
{
	position: relative;
	font-size: 0;
	-webkit-transition: left 0.3s;
	-moz-transition: left 0.3s;
	-ms-transition: left 0.3s;
	-o-transition: left 0.3s;
	transition: left 0.3s;
}

#menu.focus-0 > #menu_slider {
	text-align: center;
}

#menu.focus-1 > #menu_slider { left: 390px }
#menu.focus-2 > #menu_slider { left: 170px }
#menu.focus-3 > #menu_slider { left: -50px }
#menu.focus-4 > #menu_slider { left: -150px }
#menu.focus-5 > #menu_slider { left: -330px }

#menu a:hover,
#menu a.active
{
	color: #718db0;

}

#menu_selector
{
	position: absolute;
	bottom: 0px;
	left: 390px;
	right: 390px;
	height: 5px;
	background-color: #ff9900;
	z-index: 0;
}

#menu.focus-0 #menu_selector {
	display: none;
}

#content
{
	position: relative;
	white-space: nowrap;
	-webkit-transition: height 0.3s linear;
	font-family: "Josefin Sans", sans-serif;
	line-height: 150%;
	font-size: 20px;
}

#overlay_left,
#overlay_right
{
	position: absolute;
	z-index: 1;
	width: 10000px;
	height: 100%;
	top: 2px;
}

#overlay_left
{
	right: 100%;
}

#overlay_right
{
	left: 100%;
}

#content.focus-1 .dummy { margin-left: 0% }
#content.focus-2 .dummy { margin-left: -100% }
#content.focus-3 .dummy { margin-left: -200% }
#content.focus-4 .dummy { margin-left: -300% }
#content.focus-5 .dummy { margin-left: -400% }

#content > .page
{
	display: inline-block;
	width: 100%;
	min-height: 400px;
	vertical-align: top;
	padding-top: 40px;

	-webkit-transition-property: margin-left, opacity, height;
	-webkit-transition-duration: 0.3s;
	-moz-transition-property: margin-left, opacity, height;
	-moz-transition-duration: 0.3s;
	-ms-transition-property: margin-left, opacity, height;
	-ms-transition-duration: 0.3s;
	-o-transition-property: margin-left, opacity, height;
	-ot-transition-duration: 0.3s;
	transition-property: margin-left, opacity, height;
	transition-duration: 0.3s;
}

#content > .dummy
{
	width: 0;
}

#content > .page.inactive
{
	opacity: 0.2;
}

#content > .page.inactive > h1
{
	opacity: 0;
}

#content > .page > h1
{
	white-space: normal;
	line-height: 1.2em;
	text-align: right;
	text-transform: lowercase;
	position: absolute;
	font-size: 59px;
	top: -110px;
	right: 20px;
	left: 300px;
	font-weight: normal;
	font-family: Orbitron, Verdana, sans-serif;
	color: #ff9900;
	-webkit-transition: opacity 0.3s;
}

#content > .page > h1.long {
	font-size: 30px;
	left: 420px;
}

#content li {
	margin-left: 30px;
}

sd-post {
	display: block;
	margin-bottom: 40px;
}

sd-post[listitem] {
	margin-bottom: 0px;
}

sd-post > h2 {
	font-size: 28px;
	color: #ff9900;
	font-weight: bold;
	margin: 0; 
}

sd-post > .info {
	font-size: 80%;
	opacity: 0.8;
}

sd-post > .info > * {
	margin-right: 10px;
}

sd-post article
{
	padding: 30px 20px 10px 20px;
	text-align: left;
	color: #333333;
	white-space: normal;
	position: relative;
}

sd-post p
{
	margin-bottom: 8px;
}

sd-post a:link,
sd-post a:visited
{
	color: #50647d;
	-webkit-transition: color 0.3s;
}

sd-post a:hover,
sd-post a:active
{
	color: #718DB0;
}

sd-post a[href^=http]:after
{
	content: "\f08e";
	margin-left: 5px;
	color: rgba(128, 128, 128, 0.5);
	text-shadow: none;
	font-size: 60%;
	vertical-align: baseline;
	font-weight: normal;
	font-family: FontAwesome;
}

sd-post .ellipsis {
	margin-left: 20px;
}

sd-post code {
	font-size: 16px;
	font-family: Consolas, Monaco, monospace;
	border-radius: 2px;
	border: 1px solid #ccc;
	background: white;
	padding: 0 3px;
	white-space: nowrap;
}

sd-post code.sourceCode {
	background: transparent;
	border: none;
	padding: 0;
	font-size: 12px;
	white-space: pre-wrap;
}

sd-post pre.sourceCode {
	border-left: 5px solid #ccc;
	padding-left: 9px;
	margin-left: 2px;
	margin-bottom: 8px;
	line-height: 15px;
}

sd-post h1 {
	margin: 20px 0 5px 0;
}

sd-post ul {
	margin-bottom: 8px;
}

