/* theme: https://kuler.adobe.com/sevdevhu-theme-based-on-AlMo3000-color-theme-3699265/ */

@font-face {
	src: url(../fonts/RobotoSlab-Light.ttf);
	font-family: RobotoSlab;
	font-weight: normal;
}

@font-face {
	src: url(../fonts/FontAwesome-fontello.ttf);
	font-family: FontAwesome;
}

nav, article, header {
	display: block;
}

* {
	margin: 0px;
	padding: 0px;
}

*:link {
	text-decoration: none;
	border: 0px;
}

.fa {
	font-weight: normal;
	font-family: FontAwesome;
}

body {
	background: #E5E5E5;
	font-family: RobotoSlab;
	font-size: 14px;
}

#background_menu_line {
	position: absolute;
	top: 60px;
	width: 100%;
	height: 5px;
	background: #cccccc;
}

#hamburger-menu {
	position: fixed;
	width: 100%;
	height: 100%;
	left: calc(100% - 40px);
	white-space: nowrap;
	z-index: 2;
}

#hamburger-menu input {
	display: none;
}

#hamburger-menu .button,
#hamburger-menu ul {
	display: inline-block;
	vertical-align: top;
	padding: 20px;
	line-height: 1.2em;
}

#hamburger-menu .button {
	position: relative;
	width: 25px;
	height: 25px;
	margin-top: 30px;
	margin-right: 15px;
	padding: 0;
	cursor: pointer;
	transition-property: margin-left;
	transition-duration: 0.2s;
}

#hamburger-menu input:checked ~ .button {
	margin-left: calc(60px - 100%);
}

#hamburger-menu .button::before,
#hamburger-menu .button::after {
	display: block;
	content: '';
	transition: border-color 0.2s;
	border-width: 0;
	border-top-width: 5px;
	padding-top: 5px;
	border-style: solid;
	border-color: #333;
}

#hamburger-menu .button::after {
	border-bottom-width: 5px;
}

#hamburger-menu input:checked ~ .button::before,
#hamburger-menu input:checked ~ .button::after {
	border-color: #e5e5e5;
}

#hamburger-menu .overlay {
	display: block;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: none;
	z-index: -1;
	background-color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

#hamburger-menu input:checked ~ .overlay {
	display: block;
}

#hamburger-menu ul {
	padding: 20px 10px 10px 0px;
	background: white;
	margin-left 0;
	list-style-type: none;
	width: calc(100% - 40px);
	height: 100%;
	background: #e5e5e5;
}

#hamburger-menu li {
	margin-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	border-bottom: 5px solid #ccc;
	line-height: 25px;
}

#hamburger-menu li:first-child {
	border-top: 5px solid #ccc;
	padding-top: 5px;
	margin-top: 0;
}

#hamburger-menu li:last-child {
	border-bottom: none;
}

#hamburger-menu .social a {
	font-size: 20px;
	margin-right: 10px;
}

#hamburger-menu.focus-1 > ul > :nth-child(1) > a,
#hamburger-menu.focus-2 > ul > :nth-child(2) > a,
#hamburger-menu.focus-3 > ul > :nth-child(3) > a,
#hamburger-menu.focus-4 > ul > :nth-child(4) > a,
#hamburger-menu.focus-5 > ul > :nth-child(5) > a {
	color: #7F2626;
}

#align {
	margin: auto;
	position: relative;
	padding: 20px;
}

header {
	position: relative;
	height: 45px;
	margin-bottom: 20px;
}

#logo {
	position: absolute;
	height: 45px;
	bottom: 0;
	z-index: 1;
}

#feeds {
	display: none;
}

#menu {
	display: none;
}

#content {
	position: relative;
	-webkit-transition: height 0.3s linear;
	line-height: 150%;
	color: #333;
}

#content li {
	list-style-type: square;
	margin-left: 12px;
}

sd-post {
	display: block;
	margin-bottom: 20px;
}

sd-post[listitem] {
	margin-bottom: 0px;
}

sd-post > .info {
	font-size: 70%;
	font-weight: normal;
}

sd-post > .info > * {
	margin-right: 10px;
}

sd-post article {
	margin: 10px 0px;
	text-align: left;
	position: relative;
}

sd-post:first-child h1:first-child {
	margin-top: 0px;
}

sd-post h1 {
	font-size: 150%;
	color: #7F2626;
	font-weight: bold;
	margin: 0; 
}

sd-post p {
	margin-bottom: 8px;
}

sd-post .figure {
	text-align: center;
	font-size: 85%;
	font-style: italic;
}

sd-post .figure img {
	max-width: 100%;
}

a:link,
a:visited
{
	color: #26627f;
	font-weight: bold;
	-webkit-transition: color 0.3s;
}

a:hover,
a:active
{
	color: #3383AB;
}

sd-post a[href^=http]:after
{
	content: "\f08e";
	margin-left: 5px;
	text-shadow: none;
	font-size: 60%;
	vertical-align: baseline;
	font-weight: normal;
	font-family: FontAwesome;
}

sd-post code {
	font-family: monospace;
	white-space: nowrap;
}

sd-post code.sourceCode {
	background: transparent;
	border: none;
	padding: 0;
	white-space: pre-wrap;
}

sd-post pre.sourceCode {
	border-left: 5px solid #ccc;
	padding-left: 9px;
	margin-left: 2px;
	margin-bottom: 8px;
}

sd-post h1 {
	margin: 20px 0 5px 0;
}

sd-post ul {
	margin-bottom: 8px;
}

