<!DOCTYPE html>
<html>
<head>
	<title>sevdev: $title$</title>
	<meta charset="utf-8">
	<meta name="theme-color" content="#7f2626">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="alternate" type="application/rss+xml" title="sevdev RSS" href="$base$/rss.xml">
	<link rel="alternate" type="application/atom+xml" title="sevdev Atom" href="$base$/atom.xml">
	<link rel="stylesheet" href="$base$/css/base.css">
	<link media="only screen and (min-width: 768px)"
	      rel="stylesheet" href="$base$/css/base_sm.css">
	<link media="only screen and (min-width:1000px)"
	      rel="stylesheet" href="$base$/css/base_md.css">
	<link rel="stylesheet" href="$base$/css/syntax.css">
	<link rel="icon" sizes="16x16" href="$base$/images/favicon_16px.png">
	<link rel="apple-touch-icon" href="$base$/images/favicon.svg">
</head>
<body>
	<div id="background_menu_line"></div>
	<form autocomplete="off">
		<nav id="hamburger-menu" class="closed focus-$index$">
			<input type="checkbox" id="hamburger-menu-button">
			<label class="overlay" for="hamburger-menu-button"></label>
			<label class="button" for="hamburger-menu-button"></label>
			<ul>
				<li><a href="$base$">latest</a></li>
				<li><a href="$base$/archive.html">archive</a></li>
				<li class="social">
					<a href="http://github.com/sevcsik/sevdev-hakyll">
						<span class="fa">&#xF09B;</span>
					</a>
					<a href="http://twitter.com/sevcsik">
						<span class="fa">&#xF099;</span>
					</a>
					<a href="http://hu.linkedin.com/in/sevcsik">
						<span class="fa">&#xF0E1;</span>
					</a>
					<a href="/rss.xml">
						<span class="fa">&#xF09E;</span>
					</a>
				</li>
			</ul>
		</nav>
	</form>
	<div id="align">
		<header>
			<a href="$base$">
				<img id="logo" src="$base$/images/logo.svg">
			</a>
			<nav id="menu" class="focus-$index$">
				<a href="$base$">latest</a>
				<a href="$base$/archive.html">archive</a>
				<span class="social">
					<a href="http://github.com/sevcsik/sevdev-hakyll">
						<span class="fa">&#xF09B;</span>
					</a>
					<a href="http://twitter.com/sevcsik">
						<span class="fa">&#xF099;</span>
					</a>
					<a href="http://hu.linkedin.com/in/sevcsik">
						<span class="fa">&#xF0E1;</span>
					</a>
					<a href="/rss.xml">
						<span class="fa">&#xF09E;</span>
					</a>
				</span>
			</nav>
			<div id="feeds">
			</div>
		</header>
		<div id="content" class="focus-$index$">
			<div class="page">
				$body$
			</div>
		</div>
	</div>
</body>
</html>
