[data-page='about'] .sidebar {
	float: right;
	position: relative;
	margin: 0 0 30px 40px;
	background-image: url(../img/photo_1x.jpg);
	background-color: white;
	background-position: center top;
	background-size: contain;
	background-repeat: no-repeat;
	width: 250px;
	padding: 15px 15px 5px 15px;
	vertical-align: top;
	color: #333333;
	font-size: 18px;
	box-shadow: 1px 1px 2px black;
}

@media 
	only screen and (-webkit-min-device-pixel-ratio: 1.01),
	only screen and (min--moz-device-pixel-ratio: 1.01),
	only screen and (-ms-min-device-pixel-ratio: 1.01),
	only screen and (-o-min-device-pixel-ratio: 1.01),
	only screen and (min-device-pixel-ratio: 1.01),
	only screen and (min-resolution: 1.01ddpx) {

	[data-page='about'] .sidebar { 
		background-image: url(../img/photo_1.5x.jpg) 
	}
}

@media 
	only screen and (-webkit-min-device-pixel-ratio: 1.51),
	only screen and (min--moz-device-pixel-ratio: 1.51),
	only screen and (-ms-min-device-pixel-ratio: 1.51),
	only screen and (-o-min-device-pixel-ratio: 1.51),
	only screen and (min-device-pixel-ratio: 1.51),
	only screen and (min-resolution: 1.51ddpx) {

	[data-page='about'] .sidebar { 
		background-image: url(../img/photo_2x.jpg) 
	}
}

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2.01),
	only screen and (min--moz-device-pixel-ratio: 2.01),
	only screen and (-ms-min-device-pixel-ratio: 2.01),
	only screen and (-o-min-device-pixel-ratio: 2.01),
	only screen and (min-device-pixel-ratio: 2.01),
	only screen and (min-resolution: 2.01ddpx) {

	[data-page='about'] .sidebar { 
		background-image: url(../img/photo_3x.jpg) 
	}
}
	

[data-page='about'] .sidebar h2 {
  margin-top: 280px;
  font-weight: bold;
  padding-bottom: 10px;
  text-align: center;
  color: inherit;
  margin-bottom: 0;
}

[data-page='about'] .sidebar p
{
  padding: 5px 0;
  margin-bottom: 5px
}

[data-page='about'] .sidebar .fa {
	font-size: 25px;
	vertical-align: middle;
	margin-right: 10px;
}

[data-page='about'] .sidebar .profiles {
	white-space: nowrap;
	border-top: 1px solid #718db0;
	padding-top: 20px;
	margin-top: 15px;
	text-align: center;
	padding-left: 10px;
}

[data-page='about'] .sidebar .profiles a::after {
	display: none;
}

