<!DOCTYPE html>
<html>
<head>
  <title>sevdev: $title$</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/base.css">
</head>
<body>
  <div id="background_header"></div>
  <div id="background_menu"></div>
  <div id="background_menu_line"></div>
  <div id="background_content"></div>
  <div id="align">
    <header>
		<img id="logo" src="images/logo.svg">
    </header>
    <nav id="menu" class="focus-1">
      <div id="menu_slider">
        <a href=".">home</a>
        <a href="contact.html">contact</a>
        <a href="resume">résumé</a>
        <a href="archive.html">archive</a>
      </div>
      <div id="menu_selector"></div>
    </nav>
    <div id="content" class="focus-1">
      <div class="page">
		<h1>$title$</h1>
        $body$
      </div>
    </div>
  </div>
</body>
</html>
