<!DOCTYPE html>
<html>
<head>
	<title>sevdev: $title$</title>
	<meta charset="utf-8">
	<meta name="theme-color" content="#7f2626">
	<link rel="alternate" type="application/rss+xml" title="sevdev RSS" href="$base$/rss.xml">
	<link rel="alternate" type="application/atom+xml" title="sevdev Atom" href="$base$/atom.xml">
	<link rel="stylesheet" href="$base$/css/base.css">
	<link media="only screen and (min-width: 768px)"
	      rel="stylesheet" href="$base$/css/base_sm.css">
	<link media="only screen and (min-width:1000px)"
	      rel="stylesheet" href="$base$/css/base_md.css">
	<link rel="stylesheet" href="$base$/css/syntax.css">
	<link rel="icon" sizes="16x16" href="$base$/images/favicon_16px.png">
	<link rel="apple-touch-icon" href="$base$/images/favicon.svg">
</head>
<body>
	<div id="background_menu_line"></div>
	<div id="align">
		<header>
		<a href="$base$">
			<img id="logo" src="$base$/images/logo.svg">
		</a>
		<nav id="menu" class="focus-$index$">
			<a href="$base$">latest</a>

			<!--<a href="$base$/contact.html">contact</a>-->
			<a href="$base$/resume">résumé</a>
			<a href="$base$/archive.html">archive</a>
		</nav>
		<div id="feeds">
			<a href="$base$/rss.xml">
				<i class="fa fa-fw fa-rss"></i>
				RSS
			</a>
			<a href="$base$/atom.xml">
				<i class="fa fa-fw fa-rss"></i>
				Atom
			</a>
			<a href="http://github.com/sevcsik/sevdev-hakyll">
				<i class="fa fa-fw fa-github"></i>
				Github
			</a>
			<a href="http://twitter.com/sevcsik">
				<i class="fa fa-fw fa-twitter"></i>
				Twitter
			</a>
			<a href="http://hu.linkedin.com/in/sevcsik">
				<i class="fa fa-fw fa-linkedin"></i>
				LinkedIn
			</a>
			<a href="http://medium.com/@sevcsik">
				<i class="fa fa-fw fa-medium"></i>
				Medium
			</a>
		</div>
		</header>
		<div id="content" class="focus-$index$">
			<div class="page">
				$body$
			</div>
		</div>
	</div>
</body>
</html>
