:host {
	height: 100%;
	display: block;
}

.fixed {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: -1;

	background-image: url(../images/contact-bg.png);
	background-size: cover;
	background-position: center center;
}

.content {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -120px;
	width: 300px;
	border-radius: 100px;
	text-align: center;
}

.avatar {
	width: 150px;
	height: 150px;
	margin: 0 auto 15px auto;
}

.avatar ::content img {
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

.name ::content .name {
	color: white;
	font-weight: 400;
	margin: 0;
}

.title ::content .title {
	color: white;
	margin: 0;
}

.card-container {
	display: block;
	height: calc(100vh - 60px);
	position: relative;
	perspective: 1000px;
}

.card {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: white;
	margin: 10px;
	padding: 10px;
	text-align: left;
}

.contact-info ::content a {
	display: block;
	white-space: nowrap;
}

.contact-info ::content a::before,
.profiles ::content a::before {
	font-family: "FontAwesome";
	content: '';
	display: inline-block;
	width: 25px; 
	text-align: center;
	margin-bottom: 10px;
}

.contact-info ::content a.email::before {
	content: '\f0e0'; /* fa-envelope */
}

.contact-info ::content a.phone::before {
	content: '\f095'; /* fa-phone */
}

.contact-info ::content a.skype::before {
	content: '\f17e'; /* fa-skype */
}

.contact-info ::content a.site::before {
	content: '\f015'; /* fa-home */
}

.profiles {
	text-align: center;
}

.profiles ::content a {
	font-size: 0px;
	white-space: nowrap;
}

.profiles ::content a::before {
	font-size: 30px;
}

.profiles ::content a.linkedin::before {
	content: '\f0e1';
}

.profiles ::content a.stackoverflow::before {
	content: '\f16c';
}

.profiles ::content a.github::before {
	content: '\f09b';
}

.profiles ::content a.twitter::before {
	content: '\f099';
}

.profiles ::content a {
	text-align: center;
	width: 50px;
	display: inline-block;
}

@media only screen and (min-width: 640px) {
	.fixed {
		left: 256px;
	}

	.card {
		left: 50%;
		right: 50%;
		margin-left: -180px;
		margin-right: -180px;
	}

}

@media only screen and (min-width: 400px) {
	.avatar {
		width: 200px;
		height: 200px;
		margin-bottom: 20px;
	}
}

@media print {
	:host {
		text-align: left;
	}

	.fixed {
		display: block;
		left: auto;
		position: static;
		background-image: none;
	}

	.content {
		display: inline-block;
		position: static;
		margin: 0;
		width: auto;
	}

	.avatar {
		width: 120px;
		height: 120px;
		margin: 20px;
		display: inline-block;
		vertical-align: middle;
	}

	.name-container {
		display: inline-block;
		vertical-align: middle;
		text-align: left;
	}

	.name ::content .name {
		color: black;
	}

	.title ::content .title {
		color: black;
	}

	.card-container {
		height: auto;
	}

	.card {
		position: static;
	}

	.card /deep/ {
		box-shadow: none !important;
		width: 100%;
	}

	.contact-info, .profiles {
		display: inline-block;
		width: 40%;
		vertical-align: top;
	}

	.profiles ::content a {
		display: block;
		font-size: 16px;
		width: auto;
		text-align: left;
	}

	.profiles ::content a::before {
		font-size: 16px;
	}
}
