<!--
	Header
-->

<dom-module id="sd-header">
	<link rel="import" type="css" href="header.css">
	<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
	<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
	<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
	<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
	<template>
		<paper-toolbar>
			<paper-icon-button id="menu" icon="menu" paper-drawer-toggle>
			</paper-icon-button>
			<div class="flex content">
				<content></content>
			</div>
			<paper-checkbox>Plain </paper-checkbox>
		</paper-toolbar>
	</template>
</dom-module>
