::host {
	position: relative;
}

paper-material {
	background: white;
	text-align: left;
	padding: 20px;
}

header.has-image {
	margin: -20px -20px 0 -20px;
	color: white;
}

header ::content h2 {
	margin: 0 0 20px 0;
}

header.has-image ::content h2 {
	position: absolute;
	top: 0px;
	left 0px;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	background-image: -webkit-linear-gradient(top, black, transparent);
	background-image: -moz-linear-gradient(top, black, transparent);
	background-image: linear-gradient(top, black, transparent);
}

header ::content img {
	width: 100%;
	height: auto;
}

#buzzwords {
	text-align: center;
}

.buzzword {
	background: white;
	border-radius: 3px;
	padding: 5px 10px;
	margin: 0 2px;
	display: inline-block;
	margin-bottom: 5px;
	text-transform: uppercase;
	vertical-align: middle;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

@media print {
	header.has-image ::content h2 {
		/* ugly firefox hack to force white text color */
		color: rgba(0, 0, 0, 0);
		text-shadow: 0 0 0 #fff;
	}
}
