<!-- 
	Main component
-->
<dom-module id="sd-resume">
	<link rel="import" type="css" href="resume.css">
	<link rel="import" href="../components/header.html">
	<link rel="import" href="../components/menu.html">
	<link rel="import" href="../components/contact.html">
	<link rel="import" href="../components/skillset.html">
	<link rel="import" href="../components/project.html">
	<link rel="import" href="../components/timeline.html">
	<link rel="import" href="../bower_components/paper-drawer-panel/paper-drawer-panel.html">
	<link rel="import" href="../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
	<template>
		<paper-drawer-panel id="drawer">
			<div drawer>
				<content select="nav"></content>
			</div>
			<paper-scroll-header-panel id="panel" class="flex" main>
				<div class="paper-header">
					<content select="header"></content>
				</div>
				<div class="content">
					<content select="main"></content>
				</div>
			</paper-scroll-header-panel>
		<content></content>
	</template>
</dom-module>
