/*
 * Main stylesheet
 */

header {
	--default-primary-color: #673AB7;
}

.content {
	text-align: center;
	overflow: hidden;
}

::content #contact {
	margin-bottom: 100px;
}

::content paper-toolbar {
	transition: opacity 0.5s, transform 0.5s;
}

::content paper-toolbar.scroll-hidden-below {
	opacity: 0;
	transform: translateX(500px);
}

::content sd-contact /deep/ .card {
	transition: transform 0.5s, opacity 0.5s, translateY 0.5s;
	transform-origin: 0 100%;
}

::content sd-contact.scroll-hidden-q2 /deep/ .card {
	transform: rotateX(45deg) translateY(-200px);
	opacity: 0;
}

::content sd-skillset {
	margin: 20px auto;
	max-width: 400px;
	width: 100%;
	transition: transform 0.5s, opacity 0.5s;
	display: block;
}

::content sd-skillset {
	transform: scale(0.8) translateY(100px);
	opacity: 0;
}

::content sd-skillset.scroll-visible-q2,
::content sd-skillset.scroll-visible-bottom {
	transform: none;
	opacity: 1;
}

@media only screen and (min-width: 1024px) {
	::content sd-skillset {
		display: inline-block;
		width: 40%;
		vertical-align: top;
	}
}

