/*
 * Main stylesheet
 */

header {
	--default-primary-color: #673AB7;
}

.content {
	text-align: center;
}

::content #contact {
	margin-bottom: 100px;
}

::content paper-toolbar {
	transition: opacity 0.5s, transform 0.5s;
}

::content paper-toolbar.scroll-hidden {
	opacity: 0;
	transform: translateX(500px);
}

::content sd-skillset {
	margin: 20px auto;
	max-width: 400px;
	width: 100%;
	transition: transform 0.5s, opacity 0.5s;
}

::content sd-skillset.scroll-hidden-q3,
::content sd-skillset.scroll-hidden {
	transform: scale(0.8) translateY(100px);
	opacity: 0;
}

@media only screen and (min-width: 1024px) {
	::content sd-skillset {
		display: inline-block;
		width: 40%;
		vertical-align: top;
	}
}

